@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins' arial;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img{
    width: 40%;
}

.nav-container{
    background: #0F1F2E;

    a{ color: white;
    }
}

header {
    display: flex;
    justify-content: space-between;   
    padding: 1em; 

    .logo{
        color: #AD7F51;
        font-weight: bold;
    }

    nav{
        float: right;
        ul{
            display: flex;
            a {
                display: block;
                padding: 0 1em;
            }

        }
    }
}



.hero{
    background: #192734;
    color: #AD7F51;
    display: grid;
    text-align: center;
    padding: 4em;
}

meet{
    display: flex;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: #AD7F51; 

    span{
        margin-top: 1em;
        margin-right: 5em;
    }
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }

  @media only screen and (min-width: 1050px){
      .hero{
          height: 90vh;   
      }
      .nav-container{
          display: grid;
      }
      header{ 
          padding: 1em 1em 1em 5em; 
      }
      .social-header{
          padding: 1em 1em 1em 0em;
      }
      .social-header{
          display: block;
          ul{
             display: flex;
             justify-content: space-between;
             width: 0em;
             float: right;
             img{
                 width: 20px;
             }
          }
      }
      .hero{
          display: grid;
          grid-template-columns: 66% auto;
          background: unset;
          padding: 0;

          .content{
              background: #192734;
              padding:6em 8em 6em 4em;
              text-align: left;
              h1{
                  font-size: 2em;
                  line-height: 1.2em;
              }
          }
      }
      .her0-design{
          display: unset;
          margin-left: -50%;
          margin-top: 15;
         width: 100%; 
      }
  }